/*this NEEDS to be optomised for readability!!!*/
:root{}

/*so the IDs look better*/
html, body {scroll-behavior: smooth; height: 100%; }

.navbarcontain {z-index: 1;}

/*navbar*/
.hyperbar {
    font-size: 18px;
    border-radius: 25px;
    float: inline-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.hyperbar .navoption {float: inline-start;}
.hyperbar .navoption .hyperlinkblocked {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
.hyperbar .navoption .hyperlinkblocked:hover {
    font-family: 'Ubuntu', sans-serif;
    background-color: #111111;
    border-radius: 15px;
}

.indexhero {
    background-image: url(src/images/placeholder.jpg);
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    border-radius: 25px;
}


/*the photo thats SUPPOSED to appear behind and just above the button idk i'll fix it later when i get my final images sorted*/
.bannerimgindex {display: flex; height: 350px; right: 365px; top: 200px;}

/*the divider just under the cool sqares and above the breifing*/
.divider {border-top: 7px solid rgb(6, 94, 104); border-radius: 25px;}


/*INFO BOXES BELLOW, DO NOT TOUCH (UNLESS VISUALS!!!), THEY WORK FINE!!!*/

/*boxes under the devider*/
.contain1, .contain2, .contain3 {display: flex; align-items: center; gap: 20px; margin-bottom: 20px; flex-wrap: wrap;}
.contain3 {margin-bottom: -25px;}
.contain2 {flex-direction: row-reverse; }


.infoboxindex, .infoboxindex2, .infoboxindex3 {
    height: 285px;
    width: 300px;
    background-image: url(src/images/placeholder.jpg);
    background-size: cover;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}
.infoboxtextindex, .infoboxtextindex2, .infoboxtextindex3 {
    flex-grow: 1;
    height: 285px;
    background-color: rgba(6, 98, 44, 0.748);
    padding: 10px;
    border-radius: 25px;
    display: flex;
    flex-grow: 1;
    min-width: 50%;
}



